.header {
  &__container {
    &--base {
      width: 100%;
      height: 10%;
      background-color: #121212;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__button-group {
    display: flex;
    align-self: center;
    align-content: center;
    height: 100%;
    width: 100%;

    &--base {
      display: flex;
      align-self: center;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
    }
    &--logged {
      justify-content: space-evenly;
    }
  }

  &__logo {
    &--base {
      height: 100%;
      width: 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../FitSwap.PNG);
    }
  }

  &__login {
    &--base {
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-content: center;
      align-self: center;
      justify-content: center;
      width: 20%;
    }
  }
  &__button {
    &--base {
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-self: center;
      align-content: center;
    }
  }
  &__register {
    &--base {
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-content: center;
      align-self: center;
      justify-content: center;
      width: 20%;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__container {
      &--base {
        align-self: flex-end;
      }
    }
  }
}
