.feed {
    margin: 0;
    align-self: center;
    width: auto;
    max-width: 90%;
  
    &__item {
      height: 100%;
      position: relative;
        display: flex;
        flex-direction: column;
      &--base {
        background-color: #ffffff;
      }
      &--dark {
        background-color: #121212;
      }
      & > a {
        width: 100%;
        height: 88%;
        display: flex;
      }
    }
  
    &__item-container {
      &--base {
        display: flex;
        flex-direction: column;
      }
    }
  
    &__poster-info {
      &--base {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding: 3%;
        margin: 1% 0%;
        height: 10%;
        text-decoration: none;
        box-sizing: border-box;
      }
    }
  
    &__poster-username {
      &--base {
        text-decoration: none;
        font-weight: bold;
        color: #282727;
      }
      &--dark {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
      }
    }
  
    &__poster-image {
      &--base {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  
    &__image-overlay {
      &--base {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 88.5%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #181818c9;
        color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
  
        &:hover {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
  