.settings{
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        &--base{

        }
        &--dark{

        }
    }

    &__item-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &--base{

        }
        &--dark{

        }
    }
    &__item-description{
        width: 70%;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 1.5rem;

        &--base{
            color: #121212;
        }
        &--dark{
            color: #ffffff;
        }
    }
    &__item-input{
        width: 30%;
        padding: 1%;
        align-self: center;

        &--base{
        }
        &--dark{
        }
        & > div{
            margin: 0;
        }
    }
}